* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #131720;
  font-family: sans-serif;
  color: #f0f8ff;
}

img {
  width: 100%;
  display: inline-block;
  object-fit: contain;
}

input {
  all: unset;
  display: block;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  margin-top: 3rem;
}

/* header */
.header {
  padding: 2rem;
}

.header a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

/* intro section */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form {
  /* border: 1px solid slateblue; */
  padding: .5rem;
  margin: 1rem;

  width: 30%;

  align-self: center;
}

#movie-query {
  background-color: #151f30;
  width: 100%;

  padding: 1rem;
  border-radius: 10px;
}

.row {
  border: 1px solid slateblue;
}

.column {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #151f30;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  max-width: 250px;
}

.thumbnail {
  border-radius: 10px;

}