* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 48px 64px;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
}

/* --- Components --- */
#root {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 100px;

  font-family: 'Coiny', sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;

  padding: 16px 0 13px;

  color: inherit;
  background: linear-gradient(135deg,
      #3b82f6, #ef4444, #16a34a, #eab308);

  transition: .3s;

  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.hidden {
  display: none !important;
}

/* --- elements class --- */
.header {
  margin-bottom: 40px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;

  display: flex;
  align-items: center;
  gap: 16px;

  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 250px;
  background-color: #78716c;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.category {
  margin-bottom: 16px;
}

.btn__all-categories {
  /* aside categories btn */
  margin-bottom: 16px;
  width: 100%;
}

.btn__category {
  width: 100%;
  background-image: none;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 24px;

  border-radius: 16px;
}

.tag {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Coiny', sans-serif;
  padding: 8px 10px 5px;
  border-radius: 100px;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: .3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.vote-btn {
  margin-left: auto;
  flex-shrink: 0;

  display: flex;
  gap: 8px;
}

.vote-btn button {
  border: none;
  border-radius: 100px;

  background-color: #78716c;
  font-size: 18px;
  font-family: inherit;
  font-weight: 600;
  color: inherit;

  padding: 6px 12px;
  cursor: pointer;
  transition: .3s;
}

.vote-btn button:hover {
  background-color: #292524;
}

.vote-btn button:active {
  transform: scale(.9);
}

/* --- media queries --- */

@media (max-width: 1080px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }

  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

@media (max-width: 930px) {
  .main {
    grid-template-columns: 1fr;
  }
}